
<center>
    <h1>WebIM for Django</h1>
    <ul style="list-style: none outside none;">
    <li><a class="webim-chatbtn" href="/chat/uid1">Chat with UID1</a></li>
    <li><a class="webim-chatbtn" href="/chat/uid2">Chat with UID2</a></li>
    <li><a class="webim-chatbtn" href="/chat/uid3">Chat with UID3</a></li>
    <li><a class="webim-chatbtn" href="/chat/uid4">Chat with UID4</a></li>
    <li><a class="webim-chatbtn" href="/chat/uid5">Chat with UID5</a></li>
    <li><a class="webim-chatbtn" href="/chat/uid6">Chat with UID6</a></li>
    <li><a class="webim-chatbtn" href="/chat/uid7">Chat with UID7</a></li>
    <li><a class="webim-chatbtn" href="/chat/uid8">Chat with UID8</a></li>
    <li><a class="webim-chatbtn" href="/chat/uid9">Chat with UID9</a></li>
    <li><a class="webim-chatbtn" href="/chat/uid10">Chat with UID10</a></li>
    </ul>
</center>

<script src="webim/boot" type="text/javascript"></script>
